{
    "presets": [
      "@emotion/babel-preset-css-prop",
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ],
      "@babel/preset-typescript"
    ],
    "plugins": ["@emotion"]
  }