@import './share/button.scss';
@import './share/cover_popup.scss';
@import './t_warmup.scss';
@import './t_passage.scss';
@import './t_question.scss';
@import './t_graphic_organizer.scss';
@import './t_summary.scss';
@import './t_video_box.scss';
@import './t_storybook.scss';

@mixin t_comprehension {
    .t_comprehension {
        &>.top {
            position: absolute;
            top: 48px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            .btn_comprehension {
                @include btn_down_dis ( 
                    url('./assets/teacher/images/btn_comprehension.png'),
                    url('./assets/teacher/images/btn_comprehension_down.png'), 
                    url('./assets/teacher/images/btn_comprehension.png'), 
                    width('./assets/teacher/images/btn_comprehension.png'), 
                    height('./assets/teacher/images/btn_comprehension.png'));
                &.on {
                    background-image: url('./assets/teacher/images/btn_comprehension_on.png');
                }
            }
            .btn_visualizing {
                min-width: 100px;
                min-height: 50px;
                width: 400;
                height: 100;
                @include btn_down_dis ( 
                    url('./assets/teacher/images/btn_visualizing.png'), 
                    url('./assets/teacher/images/btn_visualizing_down.png'), 
                    url('./assets/teacher/images/btn_visualizing.png'), 
                    width('./assets/teacher/images/btn_visualizing.png'), 
                    height('./assets/teacher/images/btn_visualizing.png'));
                &.on {
                    
                    @include btn_down_dis ( 
                        './assets/teacher/images/btn_visualizing.png', 
                        './assets/teacher/images/btn_visualizing_down.png', 
                        './assets/teacher/images/btn_visualizing.png', 
                        width('./assets/teacher/images/btn_visualizing.png'), 
                        height('./assets/teacher/images/btn_visualizing.png'));
                }
            }
            .btn_summarizing {
                @include btn_down_dis ( 
                    url('./assets/teacher/images/btn_summarizing.png'), 
                    url('./assets/teacher/images/btn_summarizing_down.png'), 
                    url('./assets/teacher/images/btn_summarizing.png'), 
                    width('./assets/teacher/images/btn_summarizing.png'), 
                    height('./assets/teacher/images/btn_summarizing.png'));
                &.on {
                    background-image: url('./assets/teacher/images/btn_summarizing_on.png');
                }
            }
        }
        .btn_book {
            position: absolute;
            top: 79px;
            right: 136px;
            z-index: 1;
            @include btn_down_dis( 
                url('./assets/teacher/images/btn_book.png'), 
                url('./assets/teacher/images/btn_book_down.png'), 
                url('./assets/teacher/images/btn_book_dis.png'), 
                width('./assets/teacher/images/btn_book.png'), 
                height('./assets/teacher/images/btn_book.png'));
            &.up {
                position: absolute;
                top: 56.5px;
                right: 136px;
            }
        }
        .btn_video {
            position: absolute;
            top: 80px;
            right: 67px;
            z-index: 1;
            @include btn_down_dis( 
                url('./assets/teacher/images/btn_video.png'), 
                url('./assets/teacher/images/btn_video_down.png'), 
                url('./assets/teacher/images/btn_video_dis.png'), 
                width('./assets/teacher/images/btn_video.png'), 
                height('./assets/teacher/images/btn_video.png'));
            &.up {
                position: absolute;
                top: 58px;
                right: 67px;
            }
        }
        .btn_additional_quiz {
            position: absolute;
            top: 80px;
            right: 205px;
            z-index: 1;
            @include btn_down_dis( 
                url('./assets/teacher/images/btn_additional_quiz.png'), 
                url('./assets/teacher/images/btn_additional_quiz.png'), 
                url('./assets/teacher/images/btn_additional_quiz.png'), 
                width('./assets/teacher/images/btn_additional_quiz.png'), 
                height('./assets/teacher/images/btn_additional_quiz.png'));
            &.up {
                position: absolute;
                top: 58px;
                right: 67px;
            }
        }
        .btn_tab {
            position: absolute;
            top: 100px;
            left: 74px;
            z-index: 1;
            .btn_warmup {
                margin-left: 11px;
                @include btn_down_dis(
                    url('./assets/teacher/images/btn_warmup.png'), 
                    url('./assets/teacher/images/btn_warmup_down.png'), 
                    url('./assets/teacher/images/btn_warmup.png'), 
                    width('./assets/teacher/images/btn_warmup.png'), 
                    height('./assets/teacher/images/btn_warmup.png'));
                &.on {
                    background-image: url('./assets/teacher/images/btn_warmup_down.png');
                }
            }
            .btn_passage {
                margin-left: 11px;
                @include btn_down_dis( 
                    url('./assets/teacher/images/btn_passage.png'), 
                    url('./assets/teacher/images/btn_passage_down.png'), 
                    url('./assets/teacher/images/btn_passage.png'), 
                    width('./assets/teacher/images/btn_passage.png'), 
                    height('./assets/teacher/images/btn_passage.png'));
                &.on {
                    background-image: url('./assets/teacher/images/btn_passage_down.png');
                }
            }
            .btn_question {
                margin-left: 11px;
                @include btn_down_dis( 
                    url('./assets/teacher/images/btn_question.png'), 
                    url('./assets/teacher/images/btn_question_down.png'), 
                    url('./assets/teacher/images/btn_question.png'), 
                    width('./assets/teacher/images/btn_question.png'), 
                    height('./assets/teacher/images/btn_question.png'));
                &.on {
                    background-image: url('./assets/teacher/images/btn_question_down.png');
                }
            }
            .btn_graphicorganizer {
                margin-left: 11px;
                @include btn_down_dis(
                    url('./assets/teacher/images/btn_graphicorganizer.png'), 
                    url('./assets/teacher/images/btn_graphicorganizer_down.png'), 
                    url('./assets/teacher/images/btn_graphicorganizer.png'), 
                    width('./assets/teacher/images/btn_graphicorganizer.png'), 
                    height('./assets/teacher/images/btn_graphicorganizer.png'));
                &.on {
                    background-image: url('./assets/teacher/images/btn_graphicorganizer_down.png');
                }
            }
            .btn_summary {
                margin-left: 11px;
                @include btn_down_dis(
                    url('./assets/teacher/images/btn_summary.png'), 
                    url('./assets/teacher/images/btn_summary_down.png'), 
                    url('./assets/teacher/images/btn_summary.png'),
                    width('./assets/teacher/images/btn_summary.png'), 
                    height('./assets/teacher/images/btn_summary.png'));
                &.on {
                    background-image: url('./assets/teacher/images/btn_summary_down.png');
                }
            }
        }
        @include t_video_popup;
        @include t_storybook;
        .lets_talk{
            @include CoverPopup(10001);
            background-color:rgba(0,0,0,0.6);
            padding-top:60px;
            .closed_hint{
                display:none;
            }
            .pop_bg{
                background-image:url('./assets/teacher/images/lets_talk_bg.png');
                width:width('./assets/teacher/images/lets_talk_bg.png');
                height:height('./assets/teacher/images/lets_talk_bg.png');
                margin:0 auto;
                position:relative;

                .btn_answer{
                    @include btn_on(
                        url('./assets/teacher/images/btn_answer.png'),
                        url('./assets/teacher/images/btn_answer_down.png'),
                        width('./assets/teacher/images/btn_answer.png'),
                        height('./assets/teacher/images/btn_answer.png'),
                    );
                    position:absolute;
                    right:20px;
                    top:65px;
                    z-index: 2;
                }

                .popbox{
                    position: absolute;
                    top: 50px; bottom: 0px;
                    left: 0px; right: 0px;
                    letter-spacing: -0.6px;
                    white-space: normal;
                    font-size: 34px;

                    span.word{
                        display: inline-block;
                        padding: 0px 6px;
                        white-space: nowrap;
                    }
                    
                    .sentence_box{
                        position: relative;
                        height: 160px;
                        text-align: left;
                        padding: 0 35px;
                        &>div{
                            position: relative;
                            display: inline-block;
                            top: 80px;
                            transform: translateY(-50%);

                            .question_box{
                                text-align: left;
                                display: inline-block;
                                vertical-align: top;

                                max-width: 1000px;
                                font-size: 30px;
                                line-height: 120%;
                            }
                            
                        }
                    }
                    .quiz_box{
                        position: relative;
                        text-align: left;
                        font-size: 24px;
                        margin: 0 90px 0 50px;
                        &>div{
                            font-family: nanumgothic;
                            font-weight: bold;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        
                        .toggle_bundle {
                            width: width('./assets/teacher/images/TF.png');
                            height: height('./assets/teacher/images/TF.png');
                            background: url('./assets/teacher/images/TF.png');
                            padding: 0 5px 7px 5px;
                            cursor: pointer;
                            &>div {
                                display: inline-block;
                                width: 50%;
                                height: 100%;
                                z-index: 5;
                            }
                        }
                        .on_true {
                            background: url('./assets/teacher/images/TF_T_B.png');
                        }
                        .on_false {
                            background: url('./assets/teacher/images/TF_F_B.png');
                        }
                        .on_true_t {
                            background: url('./assets/teacher/images/TF_T_T.png');
                        }
                        .on_false_t {
                            background: url('./assets/teacher/images/TF_F_T.png');
                        }
                    }
                }
            }
            .btn_back {
                @include common_back;
                position:absolute; right: 5px; bottom: 3px;
                z-index: 2;
            }
        }
        &.Compreshension {
            background-image: url('./assets/teacher/images/bg_compre.png');
            width: 100%;
            height: height('./assets/teacher/images/bg_compre.png');
            @include Warmup;
            @include Passage;
            @include Question;
        }
        &.VISUALIZING {
            background-image: url('./assets/teacher/images/bg_visual.png');
            width: 100%;
            height: height('./assets/teacher/images/bg_visual.png');
            @include GraphicOrganizer;
        }
        &.SUMMARIZING {
            background-image: url('./assets/teacher/images/bg_visual.png');
            width: 100%;
            height: height('./assets/teacher/images/bg_visual.png');
            @include Summary;
        }
        .img_popup {
            @include CoverPopup(10001);
            background-color: rgba(0, 0, 0, 0.8);
            text-align: center;
            &>div {
                display: inline-block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                height: auto;
                &>img {
                    border-radius: 11px;
                    width: 980px;
                }
                .btn_zoom {
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    @include btn_down_dis( 
                        url('./assets/teacher/images/btn_popup_close.png'), 
                        url('./assets/teacher/images/btn_popup_close_down.png'), 
                        url('./assets/teacher/images/btn_popup_close.png'), 
                        width('./assets/teacher/images/btn_popup_close.png'), 
                        height('./assets/teacher/images/btn_popup_close.png'));
                }
            }
        }
    }
}

@mixin mixin_nav {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 150px;
}

@mixin mixin_page_box {
    .btn_page_box {
        width: 100%;
        height: 0px;
        overflow: visible;
        text-align: center;
        z-index: 2;
        cursor: pointer;
        &>span {
            margin: 0px 10px;
            font-size: 25px;
            font-weight: bold;
            color: rgba(179, 179, 179, 0.5);
            &.on {
                color: rgb(248, 246, 77);
            }
        }
        &.off {
            display: none;
        }
    }
}

