@import './share/cover_popup.scss';
@import './share/timer.scss';

@mixin Passage {
	.passage { 
		.nav {
			@include mixin_nav;
			@include mixin_page_box;
			top: 165px;
			font-weight: normal;
			.right {
				position: absolute; 
				top: -10px; 
				right: 80px;
				z-index: 2;
				.return_cnt_box{
					@include return_cnt_box_white;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
					margin-right: 10px;
				}				
				.btn_trans {
					@include btn_down_dis(
						url('./assets/teacher/images/btn_trans.png'),
						url('./assets/teacher/images/btn_trans_down.png'),
						url('./assets/teacher/images/btn_trans_dis.png'),
						width('./assets/teacher/images/btn_trans.png'),
						height('./assets/teacher/images/btn_trans.png')
					);
					&.on { background-image: url('./assets/teacher/images/btn_trans.png');}
					margin: 5px;
					vertical-align: middle;
				}
				.btn_img {
					@include btn_down_dis(
						url('./assets/teacher/images/btn_image.png'),
						url('./assets/teacher/images/btn_image_down.png'),
						url('./assets/teacher/images/btn_image_dis.png'),
						width('./assets/teacher/images/btn_image.png'),
						height('./assets/teacher/images/btn_image.png')
					);
					margin: 5px;
					vertical-align: middle;
				}
				.btn_audio_drop {
					@include btn_on_dis(
						url('./assets/teacher/images/btn_audio.png'),
						url('./assets/teacher/images/btn_audio_down.png'),
						url('./assets/teacher/images/btn_audio_dis.png'),
						width('./assets/teacher/images/btn_audio.png'),
						height('./assets/teacher/images/btn_audio.png')
					);
					margin: 5px;
					vertical-align: middle;
				}
			}
		}
		.script_box {
			width: 1144px; height: 510px;
			background-color: #e0efff;
			position: absolute;
			top: 231px; /* top: 228px; */
			left: 69px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			.swiper-container{
				width: 100%; height: auto; max-height: 100%;
				position: absolute; top: 0px;
				overflow: hidden; 
				.script-bnd{
					white-space: normal;
					padding: 30px 55px;
					text-align: left;
					font-size: 36px; letter-spacing: -0.9px; /* p4 ���� */
					line-height: 2.5;
					height: auto;
					.script_line {
						position: relative;

						&::after{
							content: " ";
						}
						/* padding-right: 20px; */
						&.on { color: rgb(255, 133, 12); }

						&>.ret-num{
							box-sizing: border-box;
							position: absolute;
							left : 0px; top: -18px;
							background-image: url('./assets/teacher/images/icon_person.png');
							width: width('./assets/teacher/images/icon_person.png');
							height: height('./assets/teacher/images/icon_person.png');
							font-size: 12px;
							line-height: height('./assets/teacher/images/icon_person.png');
							padding-left: 13px;
							padding-right: 5px;
							text-align: center;
							color: #fff;
							cursor:pointer;
							text-shadow: 2px 2px 2px #8BA5E9, -2px 2px 2px #8BA5E9, -2px -2px 2px #8BA5E9, 2px -2px 2px #8BA5E9;
						}
					}
				}
				.swiper-slide{
					height: auto;
				}
				.swiper-scrollbar{
					margin-right: 10px;
					@include swiper_scrollbar(7px, rgba(0, 0, 0, 0.3), 10px);
				}
			}
			@include q_countdown2;
			&>.yourturn{
				pointer-events: none;
				position: absolute;
				left:0px; width:100%;
				top:0px; height: 100%;
				opacity: 1;
				transition: opacity 0.3s;
				z-index: 10;
				&.hide{
					opacity: 0;
				}
				&>svg{
					width:100%;
					height: 100%;
				}
			}
		}
		.popup_btns {
			position: absolute;
			bottom: 58px;	
			height: 0px;
			width: 100%;
            text-align: center;
			.btn_listen_repeat {
				@include btn_down_dis(
					url('./assets/teacher/images/btn_listen_repeat.png'),
					url('./assets/teacher/images/btn_listen_repeat_down.png'),
					url('./assets/teacher/images/btn_listen_repeat_dis.png'),
					width('./assets/teacher/images/btn_listen_repeat.png'),
					height('./assets/teacher/images/btn_listen_repeat.png')
				);
				&.on { background-image: url('./assets/teacher/images/btn_listen_repeat_on.png');}
			}
			.btn_readalong {
				@include btn_down_dis(
					url('./assets/teacher/images/btn_readalong.png'),
					url('./assets/teacher/images/btn_readalong_down.png'),
					url('./assets/teacher/images/btn_readalong_dis.png'),
					width('./assets/teacher/images/btn_readalong.png'),
					height('./assets/teacher/images/btn_readalong.png')
				);
				&.on { background-image: url('./assets/teacher/images/btn_readalong_on.png');}
			}
			.btn_qna {
				@include btn_down_dis(
					url('./assets/teacher/images/btn_qna.png'),
					url('./assets/teacher/images/btn_qna_down.png'),
					url('./assets/teacher/images/btn_qna_dis.png'),
					width('./assets/teacher/images/btn_qna.png'),
					height('./assets/teacher/images/btn_qna.png')
				);
				&.on { background-image: url('./assets/teacher/images/btn_qna_on.png');}
			}
		}
		.passage_popup {
			@include CoverPopup(10001);
			background-image: url('./assets/teacher/images/bg_read_popup.png');
			width: width('./assets/teacher/images/bg_read_popup.png'); height: height('./assets/teacher/images/bg_read_popup.png');
			&>span {
				display: inline-block;
				position: absolute;	top: 185px;	left: 266px;
				font-size: 18px; color: rgba(0, 0, 0, 0.5);
				line-height: 1.2;
			}
			.btn_close {
				position: absolute; top: 183px; right: 260px;
				@include btn_down_dis(
					url('./assets/teacher/images/btn_pop_close.png'),
					url('./assets/teacher/images/btn_pop_close_down.png'),
					url('./assets/teacher/images/btn_pop_close.png'),
					width('./assets/teacher/images/btn_pop_close.png'),
					height('./assets/teacher/images/btn_pop_close.png')
				);
			}
			&>.fel_topad {
				@include fel_topad;
				position: absolute;	bottom: 180px; right: 253px;
			}
			.popup_content {
				width: 788px; height: 411px;
				position: absolute; top: 206px; left: 251px;
				text-align: center;	
				&>span:nth-child(1) {
					font-size: 50px; letter-spacing: -2px; word-spacing: -1px;
					position: relative; top: 150px;
				}
				&>span:nth-child(2) {display: none;}
				&>span:nth-child(3) {display: none;}
			}			
			&.SHADOWING {
				&>span {letter-spacing: 0px;}
				&>div {
					width: 788px; height: 411px;
					position: absolute; top: 206px; left: 251px;
					text-align: center;	
					&>span:nth-child(1) {display: none;}
					&>span:nth-child(2) {
						display: inline-block;
						letter-spacing: -1px; word-spacing: -4px;
						font-size: 50px;line-height: 1.6;
						position: relative;	top: 150px;
					}
					&>span:nth-child(3) {display: none;}
				}	
			}
			&.QNA {
				&>span {letter-spacing: 0px;}
				&>div {
					width: 788px; height: 411px;
					position: absolute; top: 206px; left: 251px;
					text-align: center;	
					&>span:nth-child(1) {display: none;}
					&>span:nth-child(2) {display: none;}
					&>span:nth-child(3) {
						display: inline-block;
						font-size: 50px; letter-spacing: -2px; word-spacing: -1px;
						position: relative; top: 150px;
					}
				}	
			}
		}
		.img_passage {
			@include CoverPopup(10001);
			background-color: rgba(0, 0, 0, 0.8);
			&>img {
				border-radius: 11px;
				box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
				width: 1088px; height: 676px;
				position: absolute;	top: 52px; left: 100px;
			}
			.btn_close {
				position: absolute; top: 25px; right: 75px;
				@include btn_down_dis(
					url('./assets/teacher/images/btn_popup_close.png'),
					url('./assets/teacher/images/btn_popup_close_down.png'),
					url('./assets/teacher/images/btn_popup_close.png'),
					width('./assets/teacher/images/btn_popup_close.png'),
					height('./assets/teacher/images/btn_popup_close.png')
				);
			}
		}
		.trans_popup {
			@include CoverPopup(10001);
			background-image: url('./assets/teacher/images/bg_trans_popup.png');
			width: width('./assets/teacher/images/bg_trans_popup.png'); 
			height: height('./assets/teacher/images/bg_trans_popup.png');
			.title {
				display: inline-block;
				position: absolute;	top: 90px;	left: 90px;
				font-size: 18px; color: rgba(0, 0, 0, 0.5);
				line-height: 1.2;
			}
			.trans_script {
				width: 1115px; height: 590px;
				position: absolute; top: 129px; left: 86px;
				text-align: center;	
				.swiper-container{
					width: 100%; height: auto; max-height: 100%;
					position: absolute; top: 0px;
					overflow: hidden;
					.script_eng { 
						width: 97%;	height: auto;
						margin: 15px 10px 5px 10px;
						font-size: 30px;
						text-align: left;
						line-height: 140%;
						white-space: normal;
						&>div {
							margin-top: 10px;
							color: rgb(26, 112, 255);
							white-space: normal;
							font-size: 28px;
						}
					}
					.swiper-slide{
						height: auto;
					}
					.swiper-scrollbar{
						width: 6px;
						background-color: transparent;
						.swiper-scrollbar-drag {
							background-color: rgba(0, 0, 0, 0.25);
						}
					}
				}
			}

			.btn_close {
				position: absolute; top: 90px; right: 90px;
				@include btn_down_dis(
					url('./assets/teacher/images/btn_pop_close.png'),
					url('./assets/teacher/images/btn_pop_close_down.png'),
					url('./assets/teacher/images/btn_pop_close.png'),
					width('./assets/teacher/images/btn_pop_close.png'),
					height('./assets/teacher/images/btn_pop_close.png')
				);
			}
		}
		&>.fel_topad {
			@include fel_topad;
		}
	}
}