@import './share/cover_popup.scss';

@mixin Summary {
	.summary{
		@include page;
		.btn_lets_talk{
			@include btn_on_dis(
				resolve('./assets/teacher/images/letstalk.png'),
				resolve('./assets/teacher/images/letstalk_dis.png'),
				resolve('./assets/teacher/images/letstalk_dis.png'),
				width('./assets/teacher/images/letstalk.png'),
				height('./assets/teacher/images/letstalk.png'),
			);
			position:absolute;
			left:83px;
			top:128px;
			z-index:100;
		}
		.lets_talk{
			@include CoverPopup(10001);
			background-color:rgba(0,0,0,0.9);
			padding-top:60px;
			.closed_hint{
				display:none;
			}
			.pop_bg{
				background-image:resolve('./assets/teacher/images/lets_talk_bg.png');
				width:width('./assets/teacher/images/lets_talk_bg.png');
				height:height('./assets/teacher/images/lets_talk_bg.png');
				margin:0 auto;
				position:relative;

				.btn_letstalk_close{
					@include btn_on_dis(
						resolve('./assets/teacher/images/letstalk_close.png'),
						resolve('./assets/teacher/images/letstalk_close_dis.png'),
						resolve('./assets/teacher/images/letstalk_close.png'),
						width('./assets/teacher/images/letstalk_close.png'),
						height('./assets/teacher/images/letstalk_close.png'),
					);
					position:absolute;
					right:10px;
					top:13px;
					z-index: 2;
				}
				.btn_hint{
					@include btn_on(
						resolve('./assets/teacher/images/btn_hint.png'),
						resolve('./assets/teacher/images/btn_hint_down.png'),
						width('./assets/teacher/images/btn_hint.png'),
						height('./assets/teacher/images/btn_hint.png'),
					);
					position:absolute;
					right:20px;
					top:65px;
					z-index: 2;
				}

				.popbox{
					position: absolute;
					top: 50px; bottom: 0px;
					left: 0px; right: 0px;
					text-align: center;
					letter-spacing: -0.6px;
					white-space: normal;
					font-size: 34px;

					span.word{
						display: inline-block;
						padding: 0px 6px;
						white-space: nowrap;
					}

					.image_box{
						position:relative;
						margin-top: 40px;
						&>img{
							width: 409px;
							height: 249px;
							margin: 0px 10px;
						}
						.btn_zoom1 {
							position: absolute; top: 5px; right: 368px;
							z-index: 1;
							@include btn_on(
								resolve('./assets/teacher/images/btn_zoom.png'),
								resolve('./assets/teacher/images/btn_zoom.png'),
								width('./assets/teacher/images/btn_zoom.png'),
								height('./assets/teacher/images/btn_zoom.png')
							);
							background-size: cover;
							transition-duration: 0.3s;
							&.notonly{
								position: absolute; top: 5px; right: 583px;
							}
						}
						.btn_zoom2 {
							position: absolute; top: 5px; right: 153px;
							z-index: 1;
							@include btn_on(
								resolve('./assets/teacher/images/btn_zoom.png'),
								resolve('./assets/teacher/images/btn_zoom.png'),
								width('./assets/teacher/images/btn_zoom.png'),
								height('./assets/teacher/images/btn_zoom.png')
							);
							background-size: cover;
							transition-duration: 0.3s;
							&.notonly{
								position: absolute; top: 5px; right: 368px;
							}
						}

						&.zoom{
							z-index: 10001;
							width:100%; height: 100%;
							top: 0px; bottom:0px;
			
							padding: 80px 108px;
							background-color: rgba(0, 0, 0, 0.9);
							
							&>.img{
								border-radius: 10px;
							}
							.btn_zoom {
								top: 60px; right: 86px;
								@include btn_down_dis(
									resolve('./assets/teacher/images/btn_close.png'),
									resolve('./assets/teacher/images/btn_close_down.png'),
									resolve('./assets/teacher/images/btn_close.png'),
									width('./assets/teacher/images/btn_close.png'),
									height('./assets/teacher/images/btn_close.png')
								);
							}
						}
                    }
                    .sentence_box{
						position: relative;
						height: 160px;
						&>div{
							position: relative;
							display: inline-block;
							top: 80px;
							transform: translateY(-50%);

							.btn_audio{
								@include btn_on(
									resolve('./assets/teacher/images/btn_speaker.png'),
									resolve('./assets/teacher/images/btn_speaker_on.png'),
									width('./assets/teacher/images/btn_speaker.png'),
									height('./assets/teacher/images/btn_speaker.png')
								);
								vertical-align: top;
								margin-top: 12px;
								margin-right: 12px;
							}
							.question_box{
								text-align: left;
								display: inline-block;
								vertical-align: top;

                                max-width: 1000px;
                                font-size: 34px;
                                line-height: 120%;
							}

						}
					}
                    
                    .speechbubble_box{
						position: relative;
						margin-bottom: 20px;

						&>div{
							display: inline-table;
							&>div{
								display: table-cell;
								vertical-align: middle;
							}
						}
						.char_box{
							padding-right: 23px;
						}
						.balloon { 
							position: relative; 
							background-color: #fff; 
							border-radius: 10px; 
							width: 900px;
							height: 120px;
							text-align: left;
							padding: 0px 20px;

							.swiper-container {	
                                position: relative; 
                                width: 885px;
                                left: 10px;

								.swiper-scrollbar{
									width: 9px;
									right: 3px;
									top: 5%;
									height: 90%;
									background-color: transparent;
									.swiper-scrollbar-drag {
										background-color: rgba(0, 0, 0, 0.25);
									}
								}
								&>div{
                                    width: 850px;
                                    max-height: 120px;

									.sample{
                                        min-height: 55px;
                                        padding-bottom: 5px;
										span.block{
											color: transparent;
											border-bottom: 2px solid #000;
										}
									}
									.hide{
										display: none;
                                    }
                                    .hint{
                                        min-height: 55px;
										padding-bottom: 5px;
                                        span.block{
                                            display: inline;
                                            border-bottom: 2px solid rgb(0,240,255);
                                        }
                                    }
								}
							}

							&:after { 
								content: ''; 
								position: absolute; 
								left: 0; 
								top: 50%; 
								width: 0; 
								height: 0; 
								border: 15px solid transparent; 
								border-right-color: #fff; 
								border-left: 0; 
								margin-top: -15px; 
								margin-left: -15px; 

							}

							&.view-hint{
								background-color: rgb(13, 92, 155); 
								color: rgb(0,240,255);
								&:after{
									border-right-color: rgb(13, 92, 155); 
								}
							}	
						} 
					}
				}
			}
		}
		.right {
			position: absolute; top: 128px; right: 95px;
			.return_cnt_box{
				@include return_cnt_box_white;
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
				margin-right: 10px;
			}				
			
			.btn_answer {
				@include btn_on_dis(
					resolve('./assets/teacher/images/btn_answer.png'),
					resolve('./assets/teacher/images/btn_answer_down.png'),
					resolve('./assets/teacher/images/btn_answer_dis.png'),
					width('./assets/teacher/images/btn_answer.png'),
					height('./assets/teacher/images/btn_answer.png')
				);
				margin-left: 0px;
				display: inline-block;
				vertical-align: middle;
			}
			z-index: 3;
		}

		&>.swiper-container{
			margin-top: 190px;
			width: 1130px; height: 525px;
			.summary_box {
				height: auto !important;
				margin-bottom: 40px;
				.quiz_box {	
          			display: table;					
					width: 1035px; min-height: 179px; height: auto;   /* width: 1085px; height: 129px; */
					background-color: rgb(224, 239, 255);
					margin: 0px auto;
					border-radius: 5px;
					overflow: hidden;
					z-index: 1;

					.img-box {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						width: 232px;
						&>div{
							display: inline-block;
							position: relative;
							width: 172px; height: 109px;
							border-radius: 5px;
							&>img {
								position: relative;
								width: 100%; 
								height: 100%;
								box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
							}
							.btn_zoom {
								position: absolute;	/* reading_english 190425 수정사항 p.27 */
								top: 70px; left: 132px;      /* zoom버튼의 사이즈변경으로 인한 위치이동 */
								z-index: 1;
								@include btn_down_dis(
									resolve('./assets/teacher/images/btn_zoom.png'),     /* zoom버튼의 이미지변경 */
									resolve('./assets/teacher/images/btn_zoom_down.png'),
									resolve('./assets/teacher/images/btn_zoom.png'),
									width('./assets/teacher/images/btn_zoom.png'),
									height('./assets/teacher/images/btn_zoom.png')
								);
								background-size: cover;
								transition-duration: 0.3s;
							}
						}
					}					
					&>div {
						position: relative;
						display: table-cell; 
						vertical-align: middle;
						font-size: 26px; 
						line-height: 40px;
						letter-spacing: -0.8px;
						text-align: left;
						height: auto;
                        white-space: normal;
                        padding: 10px 0;
						
						&>div{
							&>.block{
								box-sizing: border-box;
								color: transparent;
								border-bottom: 2px solid #000;
							}
						}
						&.view-summary{
							padding-right: 0px;
							word-break: normal;
							.btn_summary_audio {
								position: absolute;
								top: 8px; right: 10px;
								z-index: 1;
								display: none;
							}
							&>div{
                                margin: 25px 0;
								max-width: 790px;
								&>.block{
									box-sizing: border-box;
									color: transparent;
									border-bottom: 2px solid #000;
								}
							}							
						}
						&.view-correct{
							padding-right: 0px;
							.btn_summary_audio {
								position: absolute;
								top: 8px; right: 10px;
								z-index: 1;
								@include btn_on(
									resolve('./assets/teacher/images/btn_sum_audio.png'),    
									resolve('./assets/teacher/images/btn_sum_audio.png'),
									width('./assets/teacher/images/btn_sum_audio.png'),
									height('./assets/teacher/images/btn_sum_audio.png')
								);
							}
							&>div{
                                margin: 25px 0;
								max-width: 790px;
								&>.block{
									color: #00f;
									border-bottom-color: transparent;
								}
								&>.playing { color: rgb(255, 133, 12); }
							}							
						}
					}

				}
				.btn_arrow_down {
					background-image: resolve('./assets/teacher/images/btn_arrow_down.png');
					width: width('./assets/teacher/images/btn_arrow_down.png'); height: height('./assets/teacher/images/btn_arrow_down.png');
					position: relative; top: 0px; left: 50%; transform: translateX(-50%);
				}
			}
			.swiper-slide{
				height: auto;
			}
			.swiper-scrollbar{
				width: 7px;
                background-color: transparent;
                right: 10px;
				.swiper-scrollbar-drag {
					background-color: rgba(255, 255, 255, 0.25);
				}
			}
		}
		
		.fel_topad {
			@include fel_topad;
			position: absolute; bottom: 15px; right: 5px;
		}

		.img_popup{
			@include CoverPopup(10001);
			background-color: rgba(0, 0, 0, 0.8);
			text-align: center;
			&>div{
				display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				width: auto;
				height: auto;
				&>img {
					border-radius: 11px;
					width: 980px;
				}
				.btn_zoom {
					position: absolute;
					top: -20px; right: -20px;
					@include btn_down_dis(
						url('./assets/teacher/images/btn_popup_close.png'),
						url('./assets/teacher/images/btn_popup_close_down.png'),
						url('./assets/teacher/images/btn_popup_close.png'),
						width('./assets/teacher/images/btn_popup_close.png'),
						height('./assets/teacher/images/btn_popup_close.png')
					);
				}
			}
			
		}
	}
}
