@import './share/timer.scss';
@import './share/cover_popup.scss';



@mixin t_video_script{
	@keyframes on_ani {
		0% {transform: translateX(0%)}
		50% {transform: translateX(-50%)}
		100% {transform: translateX(0%)}
	}

		.swiper-container{
			position: absolute;
			left:0px; right: 0px;
			top:00px; bottom: 0px;
            display: none;

			.swiper-wrapper{
				position:relative;
				&>div:first-child{
					margin-top: 40px;
				}
				&>div:last-child{
					margin-bottom: 20px;
				}
			}

			.script{
				height: auto !important;
				color: #fff;
				/* fiction_190425 수정 p.7 #1번 */
				padding: 0px 30px;     /* padding: 20px 30px; */
				width: 100%;
				box-sizing: border-box;
				display: flex;

				&>span{
					padding-top: 0px;
					padding-right: 10px;

					&>img{
						position: relative;
						opacity: 0;
						top: 15px;
						&.on{
							opacity: 1;
							animation-name: on_ani;
							animation-duration: 0.5s;
							animation-iteration-count: 3;
						}

						&.view{
							top: 22px;
						}
					}
				}
				&>div{
					font-size: 40px;
					white-space: normal;
					color: #000;
					border-radius: 0px;
					letter-spacing: -0.8px;
					line-height: 70px;
					
					&>span.word{
						display: inline-block;
						vertical-align: top;
						white-space: nowrap;
						padding: 0px 6px;
						background-color: #D0CFD1;
						height: 60px;
						&>span{
							position: relative;
							color: transparent;
							border-bottom: 4px solid #000;
							top: -13px;
						}
					}
					&.on{
						&>span.word{
							background-color: #FFDB00;
						}
					}

					&.view{
						color: #fff;
						&>span.word{
							background-color: transparent;
							&>span{
								top: 0px;
								color: #fff;
								border-bottom-color: transparent;
							}
						}
					}
					&.view.on{
						color: #FFDB00;
	
						&>span.word{
							&>span{
								color: #FFDB00;
							}
						}
					}
				}


				
			}
			.swiper-slide{
				height: auto;

				
			}
			/* fiction_190425 수정 p.7 #2번 */
			.swiper-scrollbar {
				width: 9px;
			}
		}
	
}

@mixin t_video_box{
	position: relative; top: 73px;
	width: 996px;  height: 654px;
	margin: 0px auto;
	overflow: hidden;
	z-index: 0;
	border-radius:5px;    
    &:fullscreen{
        border-radius:0;
    }
	.video{
	    overflow:hidden;
		position: absolute;
		left:0px; right: 0px;
		top:0px; bottom: 80px;
		background-color: #000;
		&>video{
			width:100%; height: 100%;
			object-fit: fill;
		}
		.playbtn{
			position:absolute;
			left: 50%; top: 50%;
			transform: translate(-50%, -50%);

			@include btn_down_dis(
				url('./assets/images/mplayer/btn_video_play.png'),
				url('./assets/images/mplayer/btn_video_play_on.png'),
				url('./assets/images/mplayer/btn_video_play_down.png'),
				width('./assets/images/mplayer/btn_video_play.png'),
				height('./assets/images/mplayer/btn_video_play.png')
			);
		}
		&>.caption_box {
			position: absolute; 
			bottom: 0px;
			width: 100%;
			padding: 8px;
			background-color: rgba(41, 44, 50, 0.8);
			
			font-size: 22px; color: rgb(255, 255, 255);
			line-height: 120%;
			&>div {
				position: relative;
				width: 100%;
				padding: 5px 5px 5px 10px;
				min-height: 36px;
				&>span {
					display: block; 
					margin-right: 70px;
					text-align: left; 
					white-space: normal;
				}
				&>.btn_eng {
					position: absolute; 
					top: 6px;
					right: 0px; 
					@include btn_on(
						url('./assets/teacher/images/btn_sub_eng.png'),
						url('./assets/teacher/images/btn_sub_eng_down.png'),
						url('./assets/teacher/images/btn_sub_eng.png'),
						url('./assets/teacher/images/btn_sub_eng.png')
					);
				}
				&>.btn_trans {
					position: absolute; 
					top: 6px;
					right: 0px; 
					@include btn_on(
						url('./assets/teacher/images/btn_sub_trans.png'),
						url('./assets/teacher/images/btn_sub_trans_down.png'),
						width('./assets/teacher/images/btn_sub_trans.png'),
						height('./assets/teacher/images/btn_sub_trans.png')
					);
				}

				&.caption_trans{
					font-family: NotoSans-Light;
					&>div {
						min-height: 58px;
					}
				}
			}

		}
		@include t_video_script;

		@include q_countdown2;

		&.READALOUD, &.SHADOWING {
			.swiper-container{
                display: block;
                /* fiction_190425 수정 p.7  배경색추가 */
                background-color: rgba(0, 0, 0, 0.6);
			}			
		}
	}
	.control{
		position:absolute;
		left:0px; bottom: 0px; 
		width: 100%; height: 80px;
		background-color: rgb(50, 50, 50);	
		border: 1px solid rgba(50, 50, 50, 0.5);
		.control_left{
			position:absolute;
			display:inline-block;
			bottom: 12px;
			white-space:nowrap;
			vertical-align: middle;
			font-size:0px;
			.btn_play_pause{
				display:inline-block;
				vertical-align: middle;
				margin-left: 30px;
				background-color: rgb(200, 50, 50);	

				@include btn_on(
					url('./assets/images/mplayer/btn_play.png'),
					url('./assets/images/mplayer/btn_pause.png'),
					width('./assets/images/mplayer/btn_play.png'),
					height('./assets/images/mplayer/btn_play.png')
				);							
			}
			.btn_stop{
				display:inline-block;
				vertical-align: middle;
				margin-left: 35px;
				@include btn_down_dis(
					url('./assets/images/mplayer/btn_stop.png'),
					url('./assets/images/mplayer/btn_stop_down.png'),
					url('./assets/images/mplayer/btn_stop.png'),
					width('./assets/images/mplayer/btn_stop.png'),
					height('./assets/images/mplayer/btn_stop.png')
				);							
			}
			.btn_prev {
				display:inline-block;
				vertical-align: middle;
				margin-left: 35px;
				@include btn_down_dis(
					url('./assets/images/mplayer/btn_prev.png'),
					url('./assets/images/mplayer/btn_prev_down.png'),
					url('./assets/images/mplayer/btn_prev.png'),
					width('./assets/images/mplayer/btn_prev.png'),
					height('./assets/images/mplayer/btn_prev.png')
				);							
			}
			.btn_next{
				display:inline-block;
				vertical-align: middle;
				margin-left: 25px;
				@include btn_down_dis(
					url('./assets/images/mplayer/btn_next.png'),
					url('./assets/images/mplayer/btn_next_down.png'),
					url('./assets/images/mplayer/btn_next.png'),
					width('./assets/images/mplayer/btn_next.png'),
					height('./assets/images/mplayer/btn_next.png')
				);							
			}
		}
		.control_top{
			display: inline-block;
			width: 100%;
			margin: 20px 0;
			padding:0 15px;
			height: 24px;
			font-size: 0px;
			&>div{
				display:table;
				width:100%;
				.prog_box{
					display: table-cell;
					vertical-align: middle;
					position: relative; top: -30px; width: auto;
					top: -15px; left: 19px;
					.prog_bg{
						$PH: 8px;
						position:relative; 
						top: 0px;
						vertical-align:middle;
						height: $PH;
						border-radius: $PH/2;
						background-color: rgba(176,176,176,0.7);
						box-shadow: inset 0.7px 0.7px 0px 0px rgba(0, 0, 0, 0.15);
						&>.prog_tmp{
							position:absolute;
							left:0px;right:0px;
							top:-9px;bottom:-7px;
							background-color:rgba(255, 0, 0, 0);
						}
						&>.prog_bar{
							position:absolute;   
							border-radius: 20px;
							left:0px;width:0%;
							top:0px;height: $PH;
							border-radius: $PH/2;
							background-color:rgb(0, 135, 255);
						}
						&>.prog_btn{
							position:absolute;
							left: 0%; top: 50%;
							z-index:2;
							transform:translate(-50%, -50%);
							@include btn_down_dis(
								url('./assets/images/mplayer/btn_play_bar.png'),
								url('./assets/images/mplayer/btn_play_bar_down.png'),
								url('./assets/images/mplayer/btn_play_bar.png'),
								width('./assets/images/mplayer/btn_play_bar.png'),
								height('./assets/images/mplayer/btn_play_bar.png')
							);
						}

						&>.checkup{
							position: absolute;
							top: -3px;
							transform: translateX(-50%);
							width: 15px;
							height: 15px;
							background-color: #162BCC;
							border-radius: 50%;
							display: none;
						}
					}
				}
				.video_time{
					display: table-cell;
					/* padding-left: 20px; */
					/* width: 130px; */
					position: relative; top: -16px; /*  2019-01-02 추가*/
					padding-left: 55px;
					width: 185px;
					text-align: left;
					font-size: 20px;
					color: #4f4f4f;
					&>span:nth-child(1) {
						color: rgb(0, 135, 255);
					}
				}
			}

			&.CHECKUP{
				&>div .prog_box .prog_bg>.checkup{
					display: inline-block;
				}
			}
		}
		.control_right{
			position:absolute;
			display:inline-block;
			right: 17px;
			bottom: 8px;
			.btn_subscript{
				margin-right:20px;
				@include btn_on (
					url('./assets/images/mplayer/btn_subscript.png'),
					url('./assets/images/mplayer/btn_subscript_down.png'),
					width('./assets/images/mplayer/btn_subscript.png'),
					height('./assets/images/mplayer/btn_subscript.png')
				);

				&.READALOUD, &.SHADOWING{
					
					@include btn_on (
						url('./assets/images/mplayer/btn_script.png'),
						url('./assets/images/mplayer/btn_script_down.png'),
						width('./assets/images/mplayer/btn_script.png'),
						height('./assets/images/mplayer/btn_script.png')	
					);				
				}
			}
			.btn_audio{
				margin-right:20px;
				@include btn_on(
					url('./assets/images/mplayer/btn_sound.png'),
					url('./assets/images/mplayer/btn_mute_down.png'),
					width('./assets/images/mplayer/btn_sound.png'),
					height('./assets/images/mplayer/btn_sound.png')
				);
			}
			.btn_fullscreen{
				@include btn_down_dis(
					url('./assets/images/mplayer/btn_fullscreen.png'),
					url('./assets/images/mplayer/btn_fullscreen_down.png'),
					'',
					width('./assets/images/mplayer/btn_fullscreen.png'),
					height('./assets/images/mplayer/btn_fullscreen.png')
				);
			}
			.btn_fullscreen_off{
				display: none;
				@include btn_down_dis(
					url('./assets/images/mplayer/btn_smallscreen.png'),
					url('./assets/images/mplayer/btn_smallscreen_down.png'),
					'',
					width('./assets/images/mplayer/btn_smallscreen.png'),
					height('./assets/images/mplayer/btn_smallscreen.png')
				);
			}
		}
		.control_center {
			position: absolute; bottom: -2px; left: 308px;
			
			.btn_v_listen_repeat{
				margin-right: 8px;
				@include btn_down_dis (
					url('./assets/images/mplayer/btn_v_listen_repeat.png'),
					url('./assets/images/mplayer/btn_v_listen_repeat_down.png'),
					url('./assets/images/mplayer/btn_v_listen_repeat_dis.png'),
					width('./assets/images/mplayer/btn_v_listen_repeat.png'),
					height('./assets/images/mplayer/btn_v_listen_repeat.png')
				);
				&.on { background-image: url('./assets/images/mplayer/btn_v_listen_repeat_down.png');}
			}
			.btn_v_readalong{
				margin-right: 8px;
				@include btn_down_dis (
					url('./assets/images/mplayer/btn_v_readalong.png'),
					url('./assets/images/mplayer/btn_v_readalong_down.png'),
					url('./assets/images/mplayer/btn_v_readalong_dis.png'),
					width('./assets/images/mplayer/btn_v_readalong.png'),
					height('./assets/images/mplayer/btn_v_readalong.png')
				);
				&.on { background-image: url('./assets/images/mplayer/btn_v_readalong_down.png');}
			}
			.btn_v_checkup{
				@include btn_down_dis (
					url('./assets/images/mplayer/btn_v_checkup.png'),
					url('./assets/images/mplayer/btn_v_checkup_down.png'),
					url('./assets/images/mplayer/btn_v_checkup_dis.png'),
					width('./assets/images/mplayer/btn_v_checkup.png'),
					height('./assets/images/mplayer/btn_v_checkup.png')
				);
				&.on { background-image: url('./assets/images/mplayer/btn_v_checkup_down.png');}
			}
		}
	}
}

@mixin t_video_popup{
	.video_popup {
		@include CoverPopup(10001);
		background-color: rgba(0, 0, 0, 0.6);

		&>.wrapper{
			@include page;
			.video_box{
				@include t_video_box;
			}
			&:fullscreen{
				.video_box{
					@include page;
					border-radius:0;
					&>.video{
						&>.caption_box {
							font-size: 40px;
							&>div{
								min-height: 58px;
							}
						}
		
					}
					&>.control{
						.control_center {
							left: 50%; transform: translateX(-50%);
						}
						.btn_fullscreen{
							display: none;
						}
						.btn_fullscreen_off{
							display: unset;
						}
						.control_right{
							right: 17px;
						}
					}
				}
			}
		}
		
		.btn_back {
			@include common_back;
			position:absolute; right: 5px; bottom: 3px;
			z-index: 2;
		}
	}
	.v_popup {
		@include CoverPopup(10001);
		background-color: rgba(0, 0, 0, 0.6);
		&>div{
			position: absolute;
			left: 50%; top: 50%; transform: translate(-50%, -50%);
			width: 790px; height: auto;
			background-color: #fff;
			border-radius: 5px;
			overflow: hidden;
			z-index: 0;
			&>.head{
				height: 48px;
				line-height: 44px;
				&>span {
					margin-left: 20px;
					display: inline-block;
					vertical-align: middle;
					font-size: 18px; color: rgba(0, 0, 0, 0.5);
				}
				.btn_close {
					@include btn_down_dis(
						url('./assets/teacher/images/btn_pop_close.png'),
						url('./assets/teacher/images/btn_pop_close_down.png'),
						url('./assets/teacher/images/btn_pop_close.png'),
						width('./assets/teacher/images/btn_pop_close.png'),
						height('./assets/teacher/images/btn_pop_close.png')
					);
					position: absolute; right: 15px; top: 13px;
					display: inline-block;
					vertical-align: middle;
				}
			}
			&>.content{
				position: relative;
				background-color: #68fecb;
				height: 402px;

				&.READALOUD, &.SHADOWING, &.CHECKUPSET{
					text-align: center;
					font-size: 50px; letter-spacing: -2px; word-spacing: -1px;
					padding-top: 150px;
				}

				&.CHECKUP{
					&>.question{
						position: absolute;
						top: 15px;
						padding: 50px 60px 60px 60px ;
						text-align: left;
						letter-spacing: -1px; word-spacing: -2px;
						font-size: 44px; line-height: 1.6;
						&>span {
							padding: 0px 10px;
							display: inline-block;
							vertical-align: top;
							white-space: normal;
							max-width: 650px;
						}
						&>.qtext{
							padding: 0px 10px;
							display: inline-block;
							vertical-align: top;
							white-space: normal;
							width: 620px;
							&>div{
								position: relative;
								max-width: 620px;
							}
						}
					}
					&>.choice-box {
						position: absolute;
						bottom: 65px;
						text-align: center;
						width: 100%;
						.btn_true {
							@include btn_on(
								url('./assets/teacher/images/btn_true.png'),
								url('./assets/teacher/images/btn_true_down.png'),
								width('./assets/teacher/images/btn_true.png'),
								height('./assets/teacher/images/btn_true.png')
							);
							margin-right: 15px;
						}
						.btn_false {
							@include btn_on(
								url('./assets/teacher/images/btn_false.png'),
								url('./assets/teacher/images/btn_false_down.png'),
								width('./assets/teacher/images/btn_false.png'),
								height('./assets/teacher/images/btn_false.png')
							);
							margin-left: 15px;
						}
                    }
                    .return_cnt_box{
                        @include return_cnt_box_white;
                        display: inline-block;
                        vertical-align: middle;
                        cursor: pointer;
                        margin-right: 10px;
                        position: absolute; top: 22px; right: 85px;
                    }
					.btn_answer {
						
						@include btn_down_dis(
							url('./assets/teacher/images/btn_answer.png'),
							url('./assets/teacher/images/btn_answer_down.png'),
							url('./assets/teacher/images/btn_answer_down.png'),
							width('./assets/teacher/images/btn_answer.png'),
							height('./assets/teacher/images/btn_answer.png')
						);
						position: absolute; top: 10px; right: 25px;
					}
					.btn_v_next {
						
						@include btn_down_dis(
							url('./assets/teacher/images/btn_v_next.png'),
							url('./assets/teacher/images/btn_v_next_down.png'),
							url('./assets/teacher/images/btn_v_next.png'),
							width('./assets/teacher/images/btn_v_next.png'),
							height('./assets/teacher/images/btn_v_next.png')
						);
						position: absolute; bottom: 15px; right: 25px;
					}
					
				}
			}
			&>.fel_topad {
				@include fel_topad;
				position: absolute;	bottom: 10px; right: 10px;
			}
		}
	}
}