@import './_warmup_video.scss';

@mixin Warmup {
	.warmup{
		position: absolute;
		top: 0px;
		width: 100%; height: 100%;
		&.image{
			&>.nav {
				@include mixin_nav;
				@include mixin_page_box;
				.right {
					position: absolute; top: 4px; right: 79px;
					.info_box{
						width: auto; height: auto;
						z-index: 2;
						opacity: 0;
						pointer-events: none;
						&.on{
							pointer-events: auto;
							opacity: 1;
						}
						
					}
				}
			}
		}
		&.video{
			&>.nav {
				@include mixin_nav;
				@include mixin_page_box;
				width: 50%; height: 0px;
				position: absolute;
				top: 155px; right: 0px;
				
				z-index: 1;

				.btn_page_box span{
					font-size: 20px;
				}
			}			
		}

        /* fiction */
		&>.warmup{
			&.image{
				.return_cnt_box{
					@include return_cnt_box_white;
					position: absolute;
					top: 155px; right: 75px;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
					margin-right: 10px;
				}
				.speakerbox{
					position: absolute; 
					top: 198px;
					left:0px; width: 100%;
					text-align: center;
					.speaker {
						/*display: inline-block;*/
						width: 100%;
						/*
						&>.thumb{
							width: 105px;
							height: 105px;
						}
						&>img{
							display: inline-block;
							vertical-align: middle;			
						}
						*/
						&>div {
							position: relative;
							display: inline-block;
							vertical-align: middle;
							width: auto; height: auto;

							
							background-color: rgb(255, 255, 255);
							border-radius: 20px;
							text-align: center; 
							overflow: hidden; 
							padding: 15px 25px;
							letter-spacing: -0.7px;
							&>img{
								display: inline-block;
								vertical-align: middle;	
							}
							&>.audio {
								position: relative;
								font-size: 36px;
								color: rgb(0, 0, 0);
								line-height: 1.2;
								width: auto;
								max-width: 850px;
								text-align: left;
								
								white-space: normal;
								word-break: normal;

								display: inline-block;
								vertical-align: middle;
								padding-left: 20px;
								&>div {
									min-width: 264px;
								}
							}
						}
					}
				}
				.img-box {
					position: absolute;
					left: 100px; right: 690px;
					top: 330px;	bottom: 100px;
					padding: 0px 0px;
					transition-duration: 0.3s;
					text-align: center;
					
					&>div {
						display: inline-table;
						width: 100%;
						height: 100%;
						&>div{
							display: table-cell;
							text-align: center;
							vertical-align: middle;
							&>div{
								display: inline-block;
								position: relative;
								width: auto;
								height: auto;
								&>img {
									border-radius: 6px;
									position: relative;
									width: 490px;
									transition-duration: 0.3s;
								}
								.btn_zoom {
									position: absolute; top: 10px; right: 10px;
									z-index: 1;
									@include btn_down_dis(
										url('./assets/teacher/images/btn_fullscreen.png'),
										url('./assets/teacher/images/btn_fullscreen_down.png'),
										url('./assets/teacher/images/btn_fullscreen.png'),
										width('./assets/teacher/images/btn_fullscreen.png'),
										height('./assets/teacher/images/btn_fullscreen.png')
									);
									background-size: cover;
									transition-duration: 0.3s;
								}
							}
						}

	
					}
					&.zoom{
						z-index: 10001;
						left: 0px; right: 0px;
						top: 0px;bottom:0px;
						background-color: rgba(0, 0, 0,0.6);
						&>div>div>div{
							&>img {
								border-radius: 11px;
								width: 980px;
							}
							.btn_zoom {
								top: -15px; right: -15px;
								@include btn_down_dis(
									url('./assets/teacher/images/btn_popup_close.png'),
									url('./assets/teacher/images/btn_popup_close_down.png'),
									url('./assets/teacher/images/btn_popup_close.png'),
									width('./assets/teacher/images/btn_popup_close.png'),
									height('./assets/teacher/images/btn_popup_close.png')
								);
							}
							
						}
					}
				}
				.conversation {
					width: 620px; height: 410px;
					position: absolute; bottom: 80px; right: 70px;
					
					.swiper-container{
						width: 100%; height: auto; max-height: 100%;
						position: absolute; top: 0px;
						overflow: hidden; 

						.swiper-scrollbar{
							margin-right: 0px;
							@include swiper_scrollbar(7px, rgba(255, 255, 255, 0.6), 10px);
						}
						.swiper-no-swiping.no-swiping-bg {
							background-image: url('./assets/teacher/images/icon_loading.png');
							background-repeat: no-repeat;
							background-position: center center;
							margin-top: 100px;
							width: 100%; height: height('./assets/teacher/images/icon_loading.png');
							text-align: left;
						}
						.swiper-slide{
							height: auto;
						}
						.msg-item {
							position: relative;
							margin: 8px 20px;
							transform: scale(1, 0);
							transition: transform 0.5s;
							&.on{
								transform: scale(1, 1);
							}
							&>img{
								display: inline-block;
								vertical-align: top;
								margin-top: 8px;
								width: 55px; height: 55px;
								border-width: 4px;
								border-style: solid;
								border-radius: 100%;
							}
							&>.text{
								position: relative;
								display: inline-block;
								vertical-align: top;
								width: 520px;
								min-height: 78px;
								.s_text {
                                    font-size:40px;
                                    line-height: 1.2;
									position: relative;
									text-align: left; 
									width: auto; height: auto;
									margin:10px 20px 10px 30px;
									white-space: normal;
									word-break: normal;
									word-wrap: break-word;
									color: rgb(255, 255, 255);
								}
		
								&>canvas{
									position: absolute;
									left:0px;
									top:0px;
								}
							}
						}
						.pink {
							&>img {border-color: rgb(206, 116, 225);}
						}
						.green {
							&>img {border-color: rgb(34,205,172);}
						}
						.orange {
							&>img {border-color: rgb(255,186,0);}
						}
						.purple {
							&>img {border-color: rgb(116,113,236);}
						}
					}
				}
			}
			&.video{
				width: 485px; height: 585px;
				position: absolute;
				top: 147px; right: 70px;
				.return_cnt_box{
					@include return_cnt_box_white;
					position: absolute;
					top: 10px; right: 15px;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
					margin-right: 10px;
				}
				.speakerbox {
					position: relative; 
					top: 32px; left: 0px;
					height: 180px;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					.speaker {
						position: relative; 
						/*top: 40px; left: 0px;*/
						/* fiction_190425 수정 p.3 */
						width: 100%;
						text-align: center;
						/*&>.thumb{
							width: 95px;
							height: 95px;
						}
						&>img{
							display: inline-block;
							vertical-align: middle;			
						}*/
						&>div {
							position: relative;
							display: inline-block;
							vertical-align: middle;
							width: auto; height: auto;		/* width: 585px; */
							background-color: rgb(255, 255, 255);
							border-radius: 20px;
							overflow: hidden; 
							padding: 15px 25px;
							letter-spacing: -0.7px;
							max-width: 425px;
							min-height:72px;
							white-space: normal;
							word-break: normal;
							&>img{
								display: inline-block;
								vertical-align: top;
							}
							&>.audio {
								display: inline-block;
								max-width: 330px;
								text-align: left;
								line-height: 1.2;
								position: relative;
								font-size: 33px;
								color: rgb(0, 0, 0);
								vertical-align: top;
								padding-left: 10px;
							}
						}
					}
				}
				.line {
					background: resolve('./assets/teacher/images/line.png') no-repeat;
					width: width('./assets/teacher/images/line.png'); height: height('./assets/teacher/images/line.png');
					position: absolute; top: 210px; left: 10px;
				}
				.conversation {
					width: 472px; height: 370px;
					position: absolute;
					bottom: 0px; right: 5px;
					.swiper-container{
						width: 100%; height: auto; max-height: 100%;
						position: absolute; top: 0px;
						overflow: hidden;
						
						.swiper-scrollbar{
							margin-right: 0px;
							@include swiper_scrollbar(7px, rgba(255, 255, 255, 0.6), 10px);
						}
						.swiper-no-swiping.no-swiping-bg {
							background-image: url('./assets/teacher/images/icon_loading.png');
							background-repeat: no-repeat;
							background-position: center center;
							margin-top: 60px;
							width: 100%; height: height('./assets/teacher/images/icon_loading.png');
							text-align: left;
						}
						.swiper-slide{
							height: auto;
						}
						.msg-item {
							position: relative;
							margin: 8px 0px;
							transform: scale(1, 0);
							transition: transform 0.5s;
							&.on{
								transform: scale(1, 1);
							}
							&>img{
								display: inline-block;
								vertical-align: top;
								margin-top: 8px;
								width: 55px; height: 55px;
								border-width: 4px;
								border-style: solid;
								border-radius: 100%;
							}
							&>.text{
								position: relative;
								display: inline-block;
								vertical-align: top;
								width: 397px;
								min-height: 78px;
								.s_text {
                                    font-size:40px;
                                    line-height: 1.2;
									position: relative;
									text-align: left; 
									width: auto; height: auto;
									margin:10px 10px 10px 30px;
									white-space: normal;
									word-break: normal;
									word-wrap: break-word;
									color: rgb(255, 255, 255);
								}
		
								&>canvas{
									position: absolute;
									left:0px;
									top:0px;
								}
							}
						}
						.pink {
							&>img {border-color: rgb(206, 116, 225);}
						}
						.green {
							&>img {border-color: rgb(34,205,172);}
						}
						.orange {
							&>img {border-color: rgb(255,186,0);}
						}
						.purple {
							&>img {border-color: rgb(116,113,236);}
						}
					}
				}				
			}
		}

		&>.video_container {
			position: absolute;
			left: 78px;
			top: 180px;
			width: 640px;
			height: 515px;
			z-index:2;
			@include left_video_box;
		}
	}
}
