@import './button.scss';

@mixin penui() {
	position: absolute;
	background-image: url("./assets/images/penui/pen_box.png");
	left: 50%;
	width: width("./assets/images/penui/pen_box.png");
	transform: translateX(-50%);
	bottom: -1 * 200; //height("./assets/images/penui/pen_box.png");
	height: 200; //height("./assets/images/penui/pen_box.png");
	z-index: 10;
	
	transition: bottom 0.3s;
	&.on {
		bottom: 0px;
	}

	&>.pen_select{
		position: absolute;
		left: 315px;
		top: 37px;

		&>.pen_icon {
			@include btn_on_dis(
				url("./assets/images/penui/icon_pen.png"),
				url("./assets/images/penui/icon_pen_on.png"),
				url("./assets/images/penui/icon_pen_dis.png"),
				width("./assets/images/penui/icon_pen.png"),
				height("./assets/images/penui/icon_pen.png")
			);
			cursor: pointer;
		}
		&>.pen_thick {
			@include btn_on_dis(
				url("./assets/images/penui/icon_thick.png"),
				url("./assets/images/penui/icon_thick_on.png"),
				url("./assets/images/penui/icon_thick_dis.png"),
				width("./assets/images/penui/icon_thick.png"),
				height("./assets/images/penui/icon_thick.png")
			);
			cursor: pointer;
		}
	}

	&>.pen_color {
		position: absolute;
		left:45px;
		top: 37px;
		&>.btn_000000{
			vertical-align: top;
			@include btn_on_dis(
				url("./assets/images/penui/btn_000000.png"),
				url("./assets/images/penui/btn_000000_on.png"),
				url("./assets/images/penui/btn_000000_dis.png"),
				width("./assets/images/penui/btn_000000.png"),
				height("./assets/images/penui/btn_000000.png")
			);
		}
		&>.btn_1347e9{
			vertical-align: top;
			@include btn_on_dis(
				url("./assets/images/penui/btn_1347e9.png"),
				url("./assets/images/penui/btn_1347e9_on.png"),
				url("./assets/images/penui/btn_1347e9_dis.png"),
				width("./assets/images/penui/btn_1347e9.png"),
				height("./assets/images/penui/btn_1347e9.png")
			);
		}
		&>.btn_ec1919{
			vertical-align: top;
			@include btn_on_dis(
				url("./assets/images/penui/btn_ec1919.png"),
				url("./assets/images/penui/btn_ec1919_on.png"),
				url("./assets/images/penui/btn_ec1919_dis.png"),
				width("./assets/images/penui/btn_ec1919.png"),
				height("./assets/images/penui/btn_ec1919.png")
			);
		}
		&>.btn_30aa01{
			vertical-align: top;
			@include btn_on_dis(
				url("./assets/images/penui/btn_30aa01.png"),
				url("./assets/images/penui/btn_30aa01_on.png"),
				url("./assets/images/penui/btn_30aa01_dis.png"),
				width("./assets/images/penui/btn_30aa01.png"),
				height("./assets/images/penui/btn_30aa01.png")
			);
		}
		&>.btn_fddc00{
			vertical-align: top;
			@include btn_on_dis(
				url("./assets/images/penui/btn_fddc00.png"),
				url("./assets/images/penui/btn_fddc00_on.png"),
				url("./assets/images/penui/btn_fddc00_dis.png"),
				width("./assets/images/penui/btn_fddc00.png"),
				height("./assets/images/penui/btn_fddc00.png")
			);
		}
	}

	&>.pen_button {
		position: absolute;
		right: 30px;
		top: 37px;
		.btn_eraser{
			vertical-align: top;
			@include btn_on_dis(
				url("./assets/images/penui/btn_eraser.png"),
				url("./assets/images/penui/btn_eraser_on.png"),
				url("./assets/images/penui/btn_eraser_dis.png"),
				width("./assets/images/penui/btn_eraser.png"),
				height("./assets/images/penui/btn_eraser.png")
			);
		}
		.btn_undo{
			vertical-align: top;
			@include btn_down_dis(
				url("./assets/images/penui/btn_undo.png"),
				url("./assets/images/penui/btn_undo_on.png"),
				url("./assets/images/penui/btn_undo_dis.png"),
				width("./assets/images/penui/btn_undo.png"),
				height("./assets/images/penui/btn_undo.png")
			);
		}
		.btn_reset{
			vertical-align: top;
			@include btn_down_dis(
				url("./assets/images/penui/btn_reset.png"),
				url("./assets/images/penui/btn_reset_on.png"),
				url("./assets/images/penui/btn_reset_dis.png"),
				width("./assets/images/penui/btn_reset.png"),
				height("./assets/images/penui/btn_reset.png")
			);
		}


	}
	/*
	&>div{
		border:0px solid #f00;
		margin-top: 30px;
		text-align: center;
		.btn_reset{
			vertical-align: top;
			@include btn_down_dis(
				url("./assets/images/penui/btn_reset.png"),
				url("./assets/images/penui/btn_reset_on.png"),
				'',
				width("./assets/images/penui/btn_reset.png"),
				height("./assets/images/penui/btn_reset.png")
			);
		}
		.btn_undo{
			vertical-align: top;
			@include btn_down_dis(
				url("./assets/images/penui/btn_undo.png"),
				url("./assets/images/penui/btn_undo_on.png"),
				'',
				width("./assets/images/penui/btn_undo.png"),
				height("./assets/images/penui/btn_undo.png")
			);
		}
	}
	*/
}