@import './button.scss';

@mixin sendbtn{
	position: absolute;
	z-index: 11;
	touch-action: none;
}

@mixin fel_topad{
	@include sendbtn;
	bottom:15px;
	right:5px;
	filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
	@include btn_on(
		'', //url('../assets/images/topad.svg'),
		'', //url('../assets/images/topad_on.svg'),
		200, //width('../assets/images/topad.svg'),
		100, //height('../assets/images/topad.svg')
	);
	&.on {
		filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
	}
}

@mixin fel_topad_point{
	@include sendbtn;
	right:0px;
	filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
	@include btn_on(
		url('../assets/images/btn_down.png'),
		url('../assets/images/btn_down_down.png'),
		width('../assets/images/btn_down.png'),
		height('../assets/images/btn_down.png')
	);
	&.on {
		filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
	}
}


@mixin fel_toteacher{
	@include sendbtn;
	bottom:20px;
	right:20px;
	filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.8));
	@include btn_on(
		url('../assets/images/toteacher.svg'),
		url('../assets/images/toteacher_on.svg'),
		width('../assets/images/toteacher.svg'),
		height('../assets/images/toteacher.svg')
	);

	&.on {
		filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.6));
	}
}