.common_goodjob {
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url("./goodjob.png");
	width: width("./goodjob.png");
	height: height("./goodjob.png");
	
	transform: translate(-50%, -50%) scale(0.8, 0.8);
	//visibility: hidden;
	pointer-events: none;
	z-index: -1;

	&.on {
		visibility: visible;
		pointer-events: auto;
		z-index: 100;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1, 1);
		transition: transform 0.3s cubic-bezier(0.405, 0.420, 0.135, 1.200) 0s;
	}

	&.off {
		visibility: visible;
		pointer-events: auto;
		z-index: 100;
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.8, 0.8);
		transition: transform 0.3s, opacity 0.3s;
	}
}